header {
  width: 100%;
  height: 10vh;
  box-shadow: 3px 3px 0.4em olive, -1em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav {
  width: 50%;
}
header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul li {
  list-style: none;
  margin-right: 5%;
}
header ul a {
  text-decoration: none;
  font-size: 24px;
  color: orange;
}
header ul a:hover {
  background-color: white;
  color: gray;
}

.logo {
  width: 14vw;
  padding: 5px;
  box-shadow: 3px 3px 0.8em olive, -1em 0;
}
.logo h2 {
  display: inline;
  font-size: 32px;
}
.logo h2:first-child {
  border: 6px solid orange;
  color: white;
}
.logo h2:last-child {
  color: white;
  border: 6px solid white;
  background-color: orange;
}

main div {
  height: 80vh;
  margin-left: 10%;
  width: 60%;
  color: orange;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
main div h1 {
  font-size: 54px;
}
main div p {
  font-size: 24px;
  line-height: 2;
}
main div .input1 {
  width: 10vw;
  height: 4vh;
  background-color: rgba(255, 166, 0, 0.794);
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 0%;
}
main div .input1:hover {
  background-color: white;
  color: orange;
  font-style: italic;
  border: orange 2px dashed;
  font-size: 20px;
  text-decoration: underline;
  border-radius: 50%;
}
main div .input1 a {
  text-decoration: none;
  color: white;
}
main div .input1 a:hover {
  color: orange;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 2%;
}
.heading h2 {
  display: inline;
  font-size: 32px;
}
.heading h2:last-child {
  color: white;
  background-color: orange;
  margin-left: 5px;
}

section {
  display: flex;
  justify-content: center;
  align-content: center;
}

.grid {
  margin-top: 2%;
  height: 60vh;
  display: grid;
  grid-template-rows: 30vh 30vh;
  grid-template-columns: 30vw 30vw;
  grid-template-areas: "objective sidebar" "WIDO sidebar ";
  grid-gap: 2%;
}
.grid .Objective {
  grid-area: objective;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-direction: column;
  box-shadow: inset 0 0 1em white, 0 0 1em orange;
}
.grid .Objective p {
  line-height: 2;
}
.grid .WIDO {
  grid-area: WIDO;
  box-shadow: inset 0 0 1em white, 0 0 1em orange;
}
.grid .WIDO p {
  line-height: 2;
}
.grid .WIDO .resume {
  height: 25%;
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
}
.grid .WIDO input {
  background-color: orange;
  color: white;
  border: none;
  margin-top: 2%;
  margin-right: 2%;
  font-size: 16px;
  height: 65%;
  width: 40%;
}
.grid .sidebar {
  grid-area: sidebar;
  box-shadow: inset 0 0 1em white, 0 0 1em orange;
}
.grid .sidebar p {
  line-height: 2;
}
.grid .sidebar img {
  width: 80%;
  height: 60%;
  border-radius: 60%;
  margin-left: 10%;
}

header div {
  animation-name: move-left;
  animation-duration: 2s;
}
@keyframes move-left {
  0% {
    margin-left: -20%;
  }
  50% {
    margin-left: 0%;
  }
  100% {
    margin-left: 10%;
  }
}
header nav {
  animation-name: move;
  animation-duration: 2s;
}
@keyframes move {
  0% {
    margin-right: -20%;
  }
  50% {
    margin-right: 10%;
  }
  100% {
    margin-right: 0%;
  }
}

main div h1 {
  animation-name: drop;
  animation-duration: 2s;
}
@keyframes drop {
  0% {
    margin-left: -100%;
  }
  50% {
    margin-left: 0%;
  }
  100% {
    margin-left: 10%;
  }
}

.edu {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 2%;
}
.edu h2 {
  display: inline;
  font-size: 32px;
}
.edu h2:last-child {
  color: white;
  background-color: orange;
  margin-left: 5px;
}

.edu-text {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 2%;
  font-size: 20px;
}

.page3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page3 .education {
  width: 60vw;
  height: 40vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.page3 .education .primary {
  width: 40%;
  height: 8vh;
  box-shadow: inset 0 0 1em white, 0 0 1em orange;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-end;
  flex-direction: column;
}
.page3 .education .higher {
  width: 40%;
  height: 8vh;
  box-shadow: inset 0 0 1em white, 0 0 1em orange;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
}
.page3 .education .web {
  width: 40%;
  height: 8vh;
  box-shadow: inset 0 0 1em white, 0 0 1em orange;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-end;
  flex-direction: column;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 2%;
}
.contact h2 {
  display: inline;
  font-size: 32px;
}
.contact h2:last-child {
  color: white;
  background-color: orange;
  margin-left: 5px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container form {
  width: 60vw;
  height: 40vh;
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container form .input {
  width: 40%;
  height: 5vh;
  padding: 5px;
  border-radius: 14px;
  border: none;
  margin-top: 10px;
  outline: none;
  box-shadow: inset 0 0 1em white, 0 0 1em orange;
}
.container form .textarea {
  height: 30vh;
}
.container form .btn {
  border: none;
  border-radius: 20px;
  color: white;
  background-color: orange;
  margin-top: 1%;
  padding: 10px;
  font-size: larger;
  cursor: pointer;
}

.map {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.follow {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 2%;
}
.follow h2 {
  display: inline;
  font-size: 32px;
}
.follow h2:last-child {
  color: white;
  background-color: orange;
  margin-left: 5px;
}

.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-box .social {
  width: 60vw;
  height: 20vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.icon-box .social ul {
  width: 40%;
  display: flex;
  list-style: none;
  margin: 10px;
}
.icon-box .social ul li {
  width: 100%;
  border-radius: 50%;
  text-align: center;
  margin: 2%;
  box-shadow: inset 0 0 1em white, 0 0 1em orange;
}
.icon-box .social ul li:hover {
  transform: translate(0, -15px);
}
.icon-box .social ul li .fa-brands {
  font-size: 30px;
  line-height: 3;
  transition: 4s;
  color: orange;
}

.work {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 2%;
}
.work h2 {
  display: inline;
  font-size: 32px;
}
.work h2:last-child {
  color: white;
  background-color: orange;
  margin-left: 5px;
}

.mywork-box {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.mywork-box .box1 {
  margin-left: 5%;
  width: 20%;
  line-height: 1.5;
  margin-top: 2%;
  box-shadow: inset 0 0 1em white, 0 0 1em orange;
}
.mywork-box img {
  width: 100%;
  height: 40vh;
}
.mywork-box .btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mywork-box button {
  background-color: black;
  height: 6vh;
  width: 8vw;
  border: none;
  margin: 0 auto;
}
.mywork-box button a {
  color: white;
  text-decoration: none;
  font-size: larger;
  padding: 2px;
}
.mywork-box button i {
  background-color: white;
  font-size: larger;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homepage {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/20211022_133941.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation-name: showup;
  animation-duration: 1s;
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=main.css.map */
