main {
  div {
    height: 80vh;
    margin-left: 10%;
    width: 60%;
    color: orange;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

    h1 {
      font-size: 54px;
    }
    p {
      font-size: 24px;
      line-height: 2;
    }
    .input1 {
      width: 10vw;
      height: 4vh;
      background-color: rgba(255, 166, 0, 0.794);
      //   text-decoration: underline;
      color: white;
      font-size: 20px;
      font-weight: bold;
      border-radius: 0%;
      // border: orange 2px dashed;

      &:hover {
        background-color: white;
        color: orange;
        font-style: italic;
        border: orange 2px dashed;
        font-size: 20px;
        text-decoration: underline;
        border-radius: 50%;
      }
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}
