// @keyframes move {
//     0% {
//       width: 5rem;
//     }
//     50% {
//       width: 8rem;
//       background-color: burlywood;
//     }
//     100% {
//       width: 12rem;
//       background-color: chartreuse;
//     }
header {
  div {
    animation-name: move-left;
    animation-duration: 2s;
  }
  @keyframes move-left {
    0% {
      margin-left: -20%;
    }
    50% {
      margin-left: 0%;
      //   background-color: burlywood;
    }
    100% {
      margin-left: 10%;
      //   background-color: chartreuse;
    }
  }
  nav {
    animation-name: move;
    animation-duration: 2s;
  }
  @keyframes move {
    0% {
      margin-right: -20%;
    }
    50% {
      margin-right: 10%;
      //   background-color: burlywood;
    }
    100% {
      margin-right: 0%;
      //   background-color: chartreuse;
    }
  }
}
main {
  div {
    h1 {
      animation-name: drop;
      animation-duration: 2s;
    }
    @keyframes drop {
      0% {
        margin-left: -100%;
      }
      50% {
        margin-left: 0%;
        //   background-color: burlywood;
      }
      100% {
        margin-left: 10%;
        //   background-color: chartreuse;
      }
    }
  }
}
// .homepage {
//   .url {
//     animation-name: drop;
//     animation-duration: 2s;
//     @keyframes drop {
//       0% {
//         background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
//       }
//       50% {
//         background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
//       }
//       100% {
//         background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
//       }
//     }
//   }
// }
