@import "./layout/_layout";
@import "./vendors/_vendors";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.homepage {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/20211022_133941.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
