@import "./layout/_layout";
@import "./vendors/_vendors";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.homepage {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/20211022_133941.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation-name: showup;
  animation-duration: 1s;
}
@keyframes showup {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
